body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.result_container p {
  font-size: 1.25rem;
  text-align: center;
}
.result_container p span {
  font-weight: bold;
}

.result_title {
  font-weight: normal;
}
.result_title span {
  font-weight: bold;
}

.result_box {
  border: 1px solid black;
  width: 45rem;
  height: 15rem;
  padding: 1.5rem 3.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result_box h3 {
  margin: 0;
}
.result_box table {
  margin: auto;
}
.result_box table td {
  padding: 0.5rem 1rem;
}

.result_button {
  width: 12.5rem;
  height: 2.5rem;
  margin-top: 2.5rem;
}
