<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/main.css" />
    <title>시작화면</title>
  </head>
  <body>
    <div class="main_container">
      <h1 class="main_title"><span>투데이</span>로 시작하는 건강한 하루</h1>
      <div class="main_buttonGroup">
        <form action="/form_meal" method="get">
          <button type="submit" class="main_button">AI 식단 추천 받기</button>
        </form>
        <form action="/form_feedback" method="get">
          <button type="submit" class="main_button">식단 피드백 받기</button>
        </form>
      </div>
      <h2 class="main_content">
        투데이를 통해 간편하게 맞춤형 식단을 계획하세요
      </h2>
    </div>
  </body>
</html>
